h1 {
    text-align: center;
}

.jumbotron {
    background-image: url(https://www.lvhn.org/sites/default/files/styles/location_featured/public/LVH-Pocono.jpg?itok=J9Sup9vc);
    background-size: cover;
    background-repeat: no-repeat; 
}
.topnav {
    overflow: hidden;
    background-color: red;
    font-family: 'Kavoon';font-size: 22px;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 15%;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: red;
    color: white;
  }
 
  